<template>
  <v-container>
    <v-card>
      <v-container>
        <v-card-title>
          <p class="headline">Add User</p>
        </v-card-title>
        <v-form ref="form" @submit.prevent="postAddUser()">
          <v-layout row wrap>
            <v-flex lg6 md6 sm12 xs12>
              <v-container>
                <v-text-field
                  v-model="user.first_name"
                  :rules="textRules"
                  label="First Name"
                  required
                ></v-text-field>
              </v-container>
            </v-flex>
            <v-flex lg6 md6 sm12 xs12>
              <v-container>
                <v-text-field
                  v-model="user.last_name"
                  :rules="textRules"
                  label="Last Name"
                  required
                ></v-text-field>
              </v-container>
            </v-flex>
            <v-flex lg6 md6 sm12 xs12>
              <v-container>
                <v-text-field
                  v-model="user.email"
                  :rules="textRules"
                  label="E-mail/User Name"
                  type="email"
                  required
                ></v-text-field>
              </v-container>
            </v-flex>
            <v-flex lg6 md6 sm12 xs12>
              <v-container>
                <v-text-field
                  v-model="user.password"
                  :rules="textRules"
                  label="Password"
                  type="password"
                  required
                ></v-text-field>
              </v-container>
            </v-flex>
            <v-flex lg6 md6 sm12 xs12>
              <v-container>
                <v-switch
                  v-model="user.is_superuser"
                  :rules="textRules"
                  label="Admin"
                  required
                ></v-switch>
              </v-container>
            </v-flex>
          </v-layout>
          <v-container>
            <v-btn type="submit" color="primary" small>Add User</v-btn>
            <v-btn type="reset" color="secondary" small>Clear Data</v-btn>
          </v-container>
        </v-form>
      </v-container>
    </v-card>
  </v-container>
</template>

<script>
export default {
  name: 'NewUser',
  data () {
    return {
      user: {
        user_type_id: '',
        first_name: '',
        last_name: '',
        email: '',
        password: '',
        is_superuser: false
      }
    }
  },
  methods: {
    postAddUser () {
      this.$store.dispatch('post_user', this.user)
    }
  },
  created () {
    this.$store.dispatch('get_all_user_types')
  }
}
</script>

<style scoped>

</style>
