<template>
  <v-container>
    <v-card>
      <v-container>
        <v-layout row wrap>
          <v-flex lg4 md4 sm12 xs12>
            <img src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.newsroom.co.nz%2Fstatic%2Fdist%2Fimages%2Fplaceholder%2Fno_image.svg&f=1" alt="" style="max-width: 250px">
          </v-flex>
          <v-flex lg8 md8 sm12 xs12>
            <p class="headline"><b>Full Name: </b>{{$singleUser.first_name}} {{$singleUser.last_name}}</p>
            <p><b>User Type :</b> {{$singleUser.user_type.name}}</p>
            <p><b>Email :</b> {{$singleUser.email}}</p>
            <p><b>Date of Birth :</b> {{ $formated_date($singleUser.dob) }}</p>
            <p><b>Added on :</b> {{ $formated_date($singleUser.created_at) }}</p>
            <!--<p><b>Added by :</b> {{$singleUser.created_by}}</p>-->
          </v-flex>
        </v-layout>
      </v-container>
    </v-card>
    <br>
    <!--<v-card>-->
      <!--<v-container>-->
        <!--<div>-->
          <!--<v-tabs-->
            <!--v-model="active"-->
            <!--color="secondary"-->
            <!--dark-->
            <!--slider-color="primary"-->
          <!--&gt;-->
            <!--<v-tab key="policies" ripple>Policies</v-tab>-->
            <!--<v-tab key="claims" ripple>Claims</v-tab>-->
            <!--<v-tab key="assets" ripple>Assets</v-tab>-->
            <!--<v-tab-item key="policies">-->
              <!--<my-policies></my-policies>-->
            <!--</v-tab-item>-->
            <!--<v-tab-item key="claims">-->
              <!--<my-claims></my-claims>-->
            <!--</v-tab-item>-->
            <!--<v-tab-item key="assets">-->
              <!--<my-assets/>-->
            <!--</v-tab-item>-->
          <!--</v-tabs>-->
        <!--</div>-->
      <!--</v-container>-->
    <!--</v-card>-->
  </v-container>
</template>

<script>
export default {
  name: 'User',
  data () {
    return {
      active: null
    }
  },
  created () {
    this.$store.dispatch('get_user', this.$route.params.user_id)
  }
}
</script>

<style scoped>

</style>
