<template>
  <v-container fluid>
    <v-card>
      <v-card-title>
        All Users
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="search"
          text="Search"
          single-line
          hide-details
        ></v-text-field>
      </v-card-title>
      <v-data-table
        :headers="headers"
        :items="$allUsers"
        :search="search"
        :disable-initial-sort="false"
        :rows-per-page-items="[10, 25, 50, 100, {'text': '$vuetify.dataIterator.rowsPerPageAll','value': -1}]"
      >
        <template slot="items" slot-scope="props">
          <td class="">{{ props.item.first_name }}</td>
          <td class="">{{ props.item.last_name }}</td>
          <td class="">{{ props.item.is_superuser }}</td>
          <td class="">{{ props.item.email }}</td>
          <td class="">{{ $formated_date(props.item.date_joined) }}</td>
          <td class="">{{ $formated_date(props.item.last_login) }}</td>
          <td class="">
            <v-btn color="error" small @click="$deleteUser(props.item.id)">Delete</v-btn>
            <v-btn color="secondary" small @click="$editUser(props.item.id)">Edit</v-btn>
          </td>
        </template>
        <v-alert slot="no-results" :value="true" color="error" icon="warning">
          Your search for "{{ search }}" found no results.
        </v-alert>
      </v-data-table>
    </v-card>
  </v-container>
</template>

<script>
export default {
  name: 'Users',
  data () {
    return {
      search: '',
      headers: [
        {
          text: 'First Name',
          value: 'first_name'
        },
        {
          text: 'Last Name',
          value: 'last_name'
        },
        {
          text: 'Super User',
          value: 'is_superuser'
        },
        {
          text: 'Email',
          value: 'email'
        },
        {
          text: 'Created On',
          value: 'created_on'
        },
        {
          text: 'Last Login',
          value: 'created_on'
        },
        {
          text: 'Action'
        }
      ]
    }
  },
  created () {
    this.$store.dispatch('get_all_users')
  }
}
</script>

<style scoped>

</style>
