<template>
  <v-container fluid>
    <v-layout row wrap>
      <v-flex lg5 md5 sm12 xs12>
        <v-container>
          <v-card>
            <v-container>
              <h4 class="card-title">Add User Type</h4>
              <br>
              <v-form  @submit.prevent="postUserType()">
                <v-text-field
                  v-model="user_type.name"
                  :rules="textRules"
                  label="Name"
                  required
                ></v-text-field>
                <v-textarea
                  v-model="user_type.description"
                  :rules="textRules"
                  label="Description"
                  required
                ></v-textarea>
                <v-btn :color="update === false? 'primary':'info'" small type="submit">
                  <span v-if="update === false">Add User Type</span>
                  <span v-if="update === true">Update User Type</span>
                </v-btn>
              </v-form>
            </v-container>
          </v-card>
        </v-container>
      </v-flex>
      <v-flex lg7 md7 sm12 xs12>
        <v-container>
          <v-card>
            <v-card-title>
              User Types
              <v-spacer></v-spacer>
              <v-text-field
                v-model="search"
                append-icon="search"
                label="Search"
                single-line
                hide-details
              ></v-text-field>
            </v-card-title>
            <v-data-table
              :headers="headers"
              :items="$allUserTypes"
              :search="search"
            >
              <template slot="items" slot-scope="props">
                <td class="">{{ props.item.name }}</td>
                <td class="">{{ props.item.description }}</td>
                <td class="">
                  <v-btn color="secondary" small @click="editUserType(props.item)" v-if="update === false">Edit</v-btn>
                  <v-btn color="error" small @click="deleteUserType(props.item.public_id)" v-if="update === false">Delete</v-btn>
                  <v-btn color="warning" small @click="cancelUpdate()" v-if="update === true">Cancel Update</v-btn>
                </td>
              </template>
              <v-alert slot="no-results" :value="true" color="error" icon="warning">
                Your search for "{{ search }}" found no results.
              </v-alert>
            </v-data-table>
          </v-card>
        </v-container>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  name: 'UserSettings',
  data () {
    return {
      update: false,
      headers: [
        {
          text: 'Name',
          value: 'name'
        },
        {
          text: 'Description',
          value: 'description'
        },
        {
          text: 'Action'
        }
      ],
      search: '',
      user_type: {
        name: '',
        description: ''
      }
    }
  },
  methods: {
    postUserType () {
      if (this.update === false) {
        this.$store.dispatch('post_usertype', this.user_type)
      }
      if (this.update === true) {
        this.$store.dispatch('update_usertype', this.user_type)
        this.cancelUpdate()
      }
    },
    editUserType (userType) {
      this.update = true
      this.user_type = userType
    },
    cancelUpdate () {
      this.update = false
      this.user_type = {
        name: '',
        description: ''
      }
    },
    deleteUserType () {
    }
  },
  created () {
    this.$store.dispatch('get_all_user_types')
  }
}
</script>

<style scoped>

</style>
