<template>
  <v-container>
    <v-card>
      <v-container>
        <v-card-title>
          <p class="headline">Add Train Station</p>
        </v-card-title>
        <v-form ref="form" @submit.prevent="postTrainStation()">
          <v-layout row wrap>
            <v-flex lg12 md12 sm12 xs12>
              <v-container>
                <v-text-field
                  v-model="station.name"
                  :rules="textRules"
                  label="Name"
                  required
                  max-length="30"
                ></v-text-field>
              </v-container>
            </v-flex>
            <v-flex lg6 md6 sm12 xs12>
              <v-container>
                <v-text-field
                  v-model="station.town"
                  :rules="textRules"
                  label="Town"
                  required
                  max-length="30"
                ></v-text-field>
              </v-container>
            </v-flex>
            <v-flex lg6 md6 sm12 xs12>
              <v-container>
                <v-text-field
                  v-model="station.station_code"
                  :rules="textRules"
                  label="Station Code"
                  required
                ></v-text-field>
              </v-container>
            </v-flex>
            <v-flex lg6 md6 sm12 xs12>
              <v-container>
                <v-text-field
                  v-model="station.latitude"
                  :rules="textRules"
                  label="Latitude"
                  required
                  type="number"
                ></v-text-field>
              </v-container>
            </v-flex>
            <v-flex lg6 md6 sm12 xs12>
              <v-container>
                <v-text-field
                  v-model="station.longitude"
                  :rules="textRules"
                  label="Longitude"
                  required
                  type="number"
                ></v-text-field>
              </v-container>
            </v-flex>
          </v-layout>
          <v-container>
            <v-btn type="submit" color="primary" small>Add Train Station</v-btn>
            <v-btn type="reset" color="secondary" small>Clear Data</v-btn>
          </v-container>
        </v-form>
      </v-container>
    </v-card>
  </v-container>
</template>

<script>
export default {
  name: 'AddStation',
  data () {
    return {
      station: {
        name: '',
        town: '',
        station_code: '',
        longitude: '',
        latitude: ''
      }
    }
  },
  methods: {
    postTrainStation () {
      this.$store.dispatch('post_station', this.station)
    }
  }
}
</script>

<style scoped>

</style>
