<template>
  <v-container>
    <v-card>
      <v-container>
        <v-layout row wrap>
          <v-flex lg4 md4 sm12 xs12>
            <img src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.newsroom.co.nz%2Fstatic%2Fdist%2Fimages%2Fplaceholder%2Fno_image.svg&f=1" alt="" style="max-width: 250px">
            <v-btn>Upload/Change Image</v-btn>
          </v-flex>
          <v-flex lg8 md8 sm12 xs12>
            <p class="headline"><b>Station Name: </b>{{$singleStation.name}}</p>
            <p><b>Station Code :</b> {{$singleStation.station_code}}</p>
            <p><b>Station Town :</b> {{$singleStation.town}}</p>
            <p><b>Added on :</b> {{$formatDate($singleStation)}}</p>
          </v-flex>
        </v-layout>
      </v-container>
    </v-card>
    <br>
    <v-card>
      <v-container>
        <div>
          <v-tabs
            v-model="active"
            color="secondary"
            dark
            slider-color="primary"
            >
            <v-tab key="position" ripple>Station Position</v-tab>
            <v-tab key="policies" ripple>Trains at Station</v-tab>
            <!--<v-tab key="claims" ripple>Today's Schedule</v-tab>-->
            <v-tab-item key="position">
              <GmapMap
                :center="separateCoordinates($singleStation)"
                :zoom="10"
                style="width: 1000px; height: 300px"
              >
                <GmapMarker
                  :position="separateCoordinates($singleStation)"
                />
              </GmapMap>
            </v-tab-item>

            <v-tab-item key="policies">
              <v-card>
                <v-container>
                  <p>Not Moving at the moment</p>
                </v-container>
              </v-card>
            </v-tab-item>

            <v-tab-item key="claims">
            </v-tab-item>
          </v-tabs>
        </div>
      </v-container>
    </v-card>
  </v-container>
</template>

<script>
export default {
  name: 'Station',
  data () {
    return {
      active: null
    }
  },
  created () {
    this.$store.dispatch('get_station', this.$route.params.station_id)
  },
  methods: {
    separateCoordinates (coordinates) {
      if (coordinates !== undefined) {
        return {lat: Number(coordinates.latitude), lng: Number(coordinates.longitude)}
      } else {
        return {lat: 0, lng: 0}
      }
    }
  }
}
</script>

<style scoped>

</style>
