<template>
  <v-container fluid>
    <v-card>
      <v-card-title>
        All Stations
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="search"
          text="Search"
          single-line
          hide-details
        ></v-text-field>
      </v-card-title>
      <v-data-table
        :headers="headers"
        :items="$allStations"
        :search="search"
        :disable-initial-sort="false"
        :rows-per-page-items="[10, 25, 50, 100, {'text': '$vuetify.dataIterator.rowsPerPageAll','value': -1}]"
      >
        <template slot="items" slot-scope="props">
          <td class="">{{ props.item.station_code }}</td>
          <td class="">{{ props.item.town }}</td>
          <td class="">{{ props.item.name }}</td>
          <td class="">{{ $formatDate(props.item) }}</td>
          <td class="">
            <v-btn color="secondary" small @click="$openStation(props.item.id)">View</v-btn>
          </td>
        </template>
        <v-alert slot="no-results" :value="true" color="error" icon="warning">
          Your search for "{{ search }}" found no results.
        </v-alert>
      </v-data-table>
    </v-card>
  </v-container>
</template>

<script>
export default {
  name: 'Stations',
  data () {
    return {
      search: '',
      headers: [
        {
          text: 'Station Code',
          value: 'station_code'
        },
        {
          text: 'Town',
          value: 'town'
        },
        {
          text: 'Name',
          value: 'name'
        },
        {
          text: 'Created On',
          value: 'created_on'
        },
        {
          text: 'Action'
        }
      ]
    }
  },
  created () {
    this.$store.dispatch('get_all_stations')
  }
}
</script>

<style scoped>

</style>
