<template>
  <v-app id="inspire">
    <v-navigation-drawer
      :clipped="$vuetify.breakpoint.lgAndUp"
      v-model="drawer"
      fixed
      app
    >
      <v-list dense>
        <template v-for="item in menus">
          <v-layout
            v-if="item.heading"
            :key="item.heading"
            row
            align-center
          >
            <v-flex xs6>
              <v-subheader v-if="item.heading">
                {{ item.heading }}
              </v-subheader>
            </v-flex>
            <v-flex xs6 class="text-xs-center">
              <a href="#!" class="body-2 black--text">EDIT</a>
            </v-flex>
          </v-layout>
          <v-list-group
            v-else-if="item.children"
            v-model="item.model"
            :key="item.text"
            :prepend-icon="item.model ? item.icon : item['icon-alt']"
            append-icon=""
          >
            <v-list-tile slot="activator">
              <v-list-tile-content>
                <v-list-tile-title>
                  {{ item.name }}
                </v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
            <v-list-tile
              v-for="(child, i) in item.children"
              :key="i"
              @click="openUrl(child.url)"
            >
              <v-list-tile-action v-if="child.icon">
                <v-icon>{{ child.icon }}</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>
                  {{ child.name }}
                </v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
          </v-list-group>
          <v-list-tile v-else :key="item.text" @click="openUrl(item.url)">
            <v-list-tile-action>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>
                {{ item.name }}
              </v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </template>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar
      :clipped-left="$vuetify.breakpoint.lgAndUp"
      color="primary"
      dark
      app
      fixed
    >
      <v-toolbar-title style="width: 300px" class="">
        <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
        <span class="hidden-sm-and-down">Ticketing System</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-menu offset-y>
        <v-btn slot="activator" flat >{{$loggedInUser.first_name}} {{$loggedInUser.last_name}}<v-icon right dark>account_box</v-icon></v-btn>
        <v-list>
          <v-list-tile @click="$doLogout()">
            <v-list-tile-title>Logout</v-list-tile-title>
          </v-list-tile>
        </v-list>
      </v-menu>
    </v-toolbar>
    <v-content>
      <v-container fluid>
        <router-view/>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
export default {
  data: () => ({
    user_name: localStorage.getItem('full_name'),
    dialog: false,
    drawer: null,
    menus: [
      {
        submenu: false,
        name: 'Dashboard',
        url: 'ManagementDashboard',
        icon: 'dashboard'
      },
      {
        submenu: true,
        name: 'Users',
        icon: 'keyboard_arrow_up',
        'icon-alt': 'keyboard_arrow_down',
        children: [
          {
            name: 'Add User',
            url: 'NewUser'
          },
          {
            name: 'Users',
            url: 'Users'
          }
          // {
          //   name: 'User Settings',
          //   url: 'UserSettings'
          // }
        ]
      },
      {
        submenu: true,
        name: 'Trains',
        icon: 'keyboard_arrow_up',
        'icon-alt': 'keyboard_arrow_down',
        children: [
          {
            name: 'Add New Train',
            url: 'AddTrain'
          },
          {
            name: 'Trains',
            url: 'Trains'
          }
        ]
      },
      {
        submenu: true,
        name: 'Stations',
        icon: 'keyboard_arrow_up',
        'icon-alt': 'keyboard_arrow_down',
        children: [
          {
            name: 'Add New Station',
            url: 'AddStation'
          },
          {
            name: 'Train Stations',
            url: 'Stations'
          }
        ]
      },
      {
        submenu: true,
        name: 'Routes',
        icon: 'keyboard_arrow_up',
        'icon-alt': 'keyboard_arrow_down',
        children: [
          {
            name: 'Add Route',
            url: 'AddRoute'
          },
          {
            name: 'Routes',
            url: 'Routes'
          }
        ]
      },
      {
        submenu: true,
        name: 'Schedules',
        icon: 'keyboard_arrow_up',
        'icon-alt': 'keyboard_arrow_down',
        children: [
          {
            name: 'Add Schedule',
            url: 'AddSchedule'
          },
          {
            name: 'Upcoming Schedules',
            url: 'UpcomingSchedules'
          }
        ]
      }
    ]
  }),
  props: {
    source: String
  },
  created () {
    this.$store.dispatch('get_user_details')
  },
  methods: {
    openUrl (url) {
      this.$router.push({
        name: url
      })
    }
  }
}
</script>

<!--<template>-->
<!--<div class="">-->
<!--<link href="/static/Back/css/material-dashboard.css" rel="stylesheet" />-->
<!--<div class="wrapper">-->
<!--<side-bar/>-->
<!--<div class="main-panel">-->
<!--&lt;!&ndash; Navbar &ndash;&gt;-->
<!--<top-nav/>-->
<!--&lt;!&ndash; End Navbar &ndash;&gt;-->
<!--<div class="content">-->
<!--<router-view/>-->
<!--</div>-->
<!--<management-footer/>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</template>-->

<!--<script>-->
<!--import SideBar from '../Management/Crumbs/SideBar'-->
<!--import TopNav from '../Management/Crumbs/TopNav'-->
<!--import ManagementFooter from '../Management/Crumbs/ManagementFooter'-->
<!--export default {-->
<!--name: 'Management',-->
<!--components: {ManagementFooter, TopNav, SideBar},-->
<!--data () {-->
<!--return {}-->
<!--}-->
<!--}-->
<!--</script>-->

<!--<style scoped>-->

<!--</style>-->
