<template>
  <v-app>
    <v-toolbar app color="white">
      <v-toolbar-title>Ticketing System</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items class="hidden-sm-and-down">
        <v-btn flat>Schedules</v-btn>
        <v-btn flat>Stations</v-btn>
        <v-btn flat :to="{name: 'Login'}">Login</v-btn>
      </v-toolbar-items>
    </v-toolbar>
    <v-content>
      <v-container fluid>
        <router-view></router-view>
      </v-container>
    </v-content>
    <v-footer app></v-footer>
  </v-app>
</template>

<script>
export default {
  name: 'Home',
  data () {
    return {
    }
  }
}
</script>

<style scoped>

</style>
