<template>
  <v-container>
    <v-card>
      <v-container>
        <v-form @submit.prevent="postSchedule()">
          <v-layout row wrap>
            <v-flex lg6 md6 sm12 xs12>
              <v-container>
                <v-dialog
                  ref="dialog"
                  persistent
                  v-model="modal1"
                  lazy
                  full-width
                  width="290px"
                  :return-value.sync="schedule.departure_date"
                >
                  <v-text-field
                    slot="activator"
                    label="Departure Date"
                    v-model="schedule.departure_date"
                    readonly
                  ></v-text-field>
                  <v-date-picker
                    v-model="schedule.departure_date"
                    scrollable
                    :min="minDate"
                  >
                    <v-spacer></v-spacer>
                    <v-btn flat color="primary" @click="modal1 = false">Cancel</v-btn>
                    <v-btn flat color="primary" @click="$refs.dialog.save(schedule.departure_date)">OK</v-btn>
                  </v-date-picker>
                </v-dialog>
              </v-container>
            </v-flex>
            <v-flex lg6 md6 sm12 xs12>
              <v-container>
                <v-menu
                  ref="time"
                  :close-on-content-click="false"
                  v-model="time_modal"
                  :nudge-right="40"
                  :return-value.sync="schedule.departure_time"
                  lazy
                  transition="scale-transition"
                  offset-y
                  full-width
                  max-width="290px"
                  min-width="290px"
                >
                  <v-text-field
                    slot="activator"
                    v-model="schedule.departure_time"
                    label="Departure Time"
                    prepend-icon="access_time"
                    readonly
                  ></v-text-field>
                  <v-time-picker
                    v-if="time_modal"
                    v-model="schedule.departure_time"
                    full-width
                    @change="$refs.time.save(schedule.departure_time)"
                  ></v-time-picker>
                </v-menu>
              </v-container>
            </v-flex>
            <v-flex lg6 md6 sm12 xs12>
              <v-container>
                <v-select
                  label="Train"
                  v-model="schedule.train"
                  item-text="name"
                  item-value="id"
                  :items="$allTrains"
                ></v-select>
              </v-container>
            </v-flex>
            <v-flex lg6 md6 sm12 xs12>
              <v-container>
                <v-select
                  label="Route"
                  v-model="schedule.route"
                  item-text="name"
                  item-value="id"
                  :items="$allRoutes"
                ></v-select>
              </v-container>
            </v-flex>
          </v-layout>
          <v-btn type="submit" :depressed="true" color="primary">Post Schedule</v-btn>
        </v-form>
      </v-container>
    </v-card>
  </v-container>
</template>

<script>
export default {
  name: 'AddSchedule',
  data () {
    return {
      minDate: this.$moment().format('YYYY-MM-DD'),
      modal1: false,
      time_modal: false,
      schedule: {
        departure_date: '',
        departure_time: null,
        train: '',
        route: ''
      }
    }
  },
  created () {
    this.$store.dispatch('get_all_trains')
    this.$store.dispatch('get_all_routes')
  },
  methods: {
    postSchedule () {
      var data = {
        departure_time: this.schedule.departure_date + ' ' + this.schedule.departure_time,
        train: this.schedule.train,
        route: this.schedule.route
      }
      // console.log(data)
      this.$store.dispatch('post_schedule', data)
    }
  }
}
</script>

<style scoped>

</style>
