<template>
  <v-container fluid>
    <v-card>
      <v-card-title>
        Upcoming Schedules
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="search"
          text="Search"
          single-line
          hide-details
        ></v-text-field>
      </v-card-title>
      <v-data-table
        :headers="headers"
        :items="$allSchedules"
        :search="search"
        :disable-initial-sort="false"
        :rows-per-page-items="[10, 25, 50, 100, {'text': '$vuetify.dataIterator.rowsPerPageAll','value': -1}]"
      >
        <template slot="items" slot-scope="props">
          <td class="">{{ $formated_date_time(props.item.departure_time)}}</td>
          <td class="">{{ props.item.train.name }}</td>
          <td class="">{{ props.item.route.route_code }}</td>
          <td class="">{{ props.item.route.name }}</td>
          <td class="">{{ $formatDate(props.item) }}</td>
        </template>
        <v-alert slot="no-results" :value="true" color="error" icon="warning">
          Your search for "{{ search }}" found no results.
        </v-alert>
      </v-data-table>
    </v-card>
  </v-container>
</template>

<script>
export default {
  name: 'UpcomingSchedules',
  data () {
    return {
      search: '',
      headers: [
        {
          text: 'Departure Date Time',
          value: 'departure_time'
        },
        {
          text: 'Train',
          value: 'train.name'
        },
        {
          text: 'Code',
          value: 'route.route_code'
        },
        {
          text: 'Name',
          value: 'route.name'
        },
        {
          text: 'Created On',
          value: 'created_on'
        }
      ]
    }
  },
  created () {
    this.$store.dispatch('get_all_schedules')
  }
}
</script>

<style scoped>

</style>
