<template>
    <v-card flat>
      <v-container>
        <v-form>
          <v-layout row wrap>
            <v-flex lg6 md6 sm12 xs12>
              <v-container>
                <v-text-field
                  v-model="mpesa.phone_number"
                  label="Phone Number"
                ></v-text-field>
              </v-container>
            </v-flex>
            <v-flex lg6 md6 sm12 xs12>
              <v-container>
                <v-text-field
                  v-model="mpesa.quantity"
                  label="Quantity"
                ></v-text-field>
              </v-container>
            </v-flex>
            <v-flex lg3 md3 sm12 xs12>
              <v-container>
                <v-btn :depressed="true" color="primary" block @click="buyTicket()">Get Ticket</v-btn>
              </v-container>
            </v-flex>
            <v-flex lg3 md3 sm12 xs12>
              <v-container>
                <v-btn :depressed="true" color="warning" block>Confirm Payment</v-btn>
              </v-container>
            </v-flex>
          </v-layout>
        </v-form>
      </v-container>
    </v-card>
</template>

<script>
export default {
  name: 'BuyTicket',
  data () {
    return {
      mpesa: {
        phone_number: '',
        quantity: ''
      }
    }
  },
  methods: {
    buyTicket () {
      this.$store.dispatch('post_booking', this.mpesa)
    }
  }
}
</script>

<style scoped>

</style>
