<template>
  <v-container>
    <v-card flat>
      <v-container>
        <v-layout row wrap>
          {{$getPrice}}
          <v-flex lg4 md4 sm12 xs12>
            <p class=""><b>Departure Station:</b> {{$searchResults.stops[0].name}}</p>
            <p class=""><b>Departure Town:</b> {{$searchResults.stops[0].town}}</p>
          </v-flex>
          <v-flex lg4 md4 sm12 xs12>
            <p class=""><b>Departure Time:</b> {{$searchResults.schedule.departure_time}}</p>
            <p class=""><b>Route:</b> {{$searchResults.route.name}}</p>
          </v-flex>
          <v-flex lg4 md4 sm12 xs12>
            <p class=""><b>Destination Station:</b> {{$searchResults.stops[1].name}}</p>
            <p class=""><b>Destination Town:</b> {{$searchResults.stops[1].town}}</p>
          </v-flex>
        </v-layout>
      </v-container>
      <v-btn :depressed="true" @click="buyTicket()">Buy Ticket</v-btn>
    </v-card>
    <br>
    <buy-ticket v-if="showBuy === true"></buy-ticket>
  </v-container>
</template>

<script>
import BuyTicket from './BuyTicket'
export default {
  name: 'HomeSchedules',
  components: {BuyTicket},
  data () {
    return {
      showBuy: false
    }
  },
  methods: {
    buyTicket () {
      this.showBuy = true
    }
  }
}
</script>

<style scoped>

</style>
