<template>
  <div>
    <slider></slider>
    <application-stages/>
  </div>
</template>

<script>
import Slider from './Crumbs/Slider'
import ApplicationStages from './Crumbs/ApplicationStages'
export default {
  name: 'Index',
  components: {ApplicationStages, Slider},
  data () {
    return {
    }
  }
}
</script>

<style scoped>

</style>
