<template>
  <v-container>
    <v-card>
      <v-container>
        <v-form @submit.prevent="doAdmin()">
          <v-text-field
            v-model="auth.username"
            :rules="textRules"
            label="Email/User Name"
            required
          ></v-text-field>
          <v-text-field
            v-model="auth.password"
            :rules="textRules"
            label="Password"
            required
            type="password"
          ></v-text-field>
          <v-btn small type="submit">Login</v-btn>
        </v-form>
      </v-container>
    </v-card>
  </v-container>
</template>

<script>
export default {
  name: 'Login',
  data () {
    return {
      auth: {
        username: '',
        password: ''
      }
    }
  },
  methods: {
    doAdmin () {
      this.$store.dispatch('post_authentication', this.auth)
    }
  }
}
</script>

<style scoped>

</style>
