<template>
  <v-container>
    <v-card>
      <v-container>
        <v-card-title>
          <p class="headline">Add Train</p>
        </v-card-title>
        <v-form ref="form" @submit.prevent="postTrain()">
          <v-layout row wrap>
            <v-flex lg6 md6 sm12 xs12>
              <v-container>
                <v-text-field
                  v-model="train.name"
                  :rules="textRules"
                  label="Name"
                  required
                ></v-text-field>
              </v-container>
            </v-flex>
            <v-flex lg6 md6 sm12 xs12>
              <v-container>
                <v-text-field
                  v-model="train.speed"
                  :rules="textRules"
                  label="Speed"
                  type="number"
                  required
                ></v-text-field>
              </v-container>
            </v-flex>
            <v-flex lg6 md6 sm12 xs12>
              <v-container>
                <v-text-field
                  v-model="train.carriages"
                  :rules="textRules"
                  label="Number of Carriages"
                  type="number"
                  required
                ></v-text-field>
              </v-container>
            </v-flex>
            <v-flex lg6 md6 sm12 xs12>
              <v-container>
                <v-text-field
                  v-model="train.carriage_capacity"
                  :rules="textRules"
                  label="Carriage Capacity"
                  type="number"
                  required
                ></v-text-field>
              </v-container>
            </v-flex>
            <v-flex lg6 md6 sm12 xs12>
              <v-container>
                <v-text-field
                  v-model="train.image"
                  :rules="textRules"
                  label="Image"
                  type="file"
                  required
                ></v-text-field>
              </v-container>
            </v-flex>
          </v-layout>
          <v-container>
            <v-btn type="submit" color="primary" small>Add Train</v-btn>
            <v-btn type="reset" color="secondary" small>Clear Data</v-btn>
          </v-container>
        </v-form>
      </v-container>
    </v-card>
  </v-container>
</template>

<script>
export default {
  name: 'AddTrain',
  data () {
    return {
      train: {
        name: '',
        luggage_capacity: '',
        passenger_capacity: '',
        image: ''
      }
    }
  },
  methods: {
    postTrain  () {
      this.$store.dispatch('post_train', this.train)
    }
  }
}
</script>

<style scoped>

</style>
