<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App',
  created () {
    // this.$store.dispatch('get_authenticated_user')
  }
}
</script>

<style>
</style>
