<template>
  <v-container>
    <v-card>
      <v-container>
        <v-card-title>
          <p class="headline">Add Route</p>
        </v-card-title>
        <v-form ref="form" @submit.prevent="postRoute()">
          <v-layout row wrap>
            <v-flex lg6 md6 sm12 xs12>
              <v-container>
                <v-text-field
                  v-model="route.name"
                  :rules="textRules"
                  label="Route Name"
                  required
                  max-length="30"
                ></v-text-field>
              </v-container>
            </v-flex>
            <v-flex lg6 md6 sm12 xs12>
              <v-container>
                <v-text-field
                  v-model="route.route_code"
                  :rules="textRules"
                  label="Route Code"
                  required
                  max-length="20"
                ></v-text-field>
              </v-container>
            </v-flex>
          </v-layout>
          <v-btn type="submit">Add Route</v-btn>
        </v-form>
      </v-container>
    </v-card>
  </v-container>
</template>

<script>
export default {
  name: 'AddRoute',
  data () {
    return {
      route: {
        name: '',
        route_code: ''
      }
    }
  },
  methods: {
    postRoute () {
      this.$store.dispatch('post_route', this.route)
    }
  }
}
</script>

<style scoped>

</style>
