<template>
  <v-container>
    <v-card>
      <v-container>
        <v-layout row wrap>
          <v-flex lg4 md4 sm12 xs12>
            <img src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.newsroom.co.nz%2Fstatic%2Fdist%2Fimages%2Fplaceholder%2Fno_image.svg&f=1" alt="" style="max-width: 250px">
            <v-btn>Upload/Change Image</v-btn>
          </v-flex>
          <v-flex lg8 md8 sm12 xs12>
            <p class="headline"><b>Route Name: </b>{{$singleRoute.name}}</p>
            <!--<p><b>Route Stops :</b> {{$singleRoute.stops.length}}</p>-->
            <p><b>Added on :</b> {{$formatDate($singleRoute)}}</p>
          </v-flex>
        </v-layout>
      </v-container>
    </v-card>
    <br>
    <v-card>
      <v-container>
        <div>
          <v-tabs
            v-model="active"
            color="secondary"
            dark
            slider-color="primary"
          >
            <v-tab key="route-map" ripple>Route Map</v-tab>
            <v-tab key="route-stops" ripple>Route Stops</v-tab>
            <v-tab-item key="route-map">
              <GmapMap
                :center="getCoordinates[0]"
                :zoom="5"
                style="width: 1000px; height: 300px"
              >
                <GmapMarker
                  v-for="(position, key) in getCoordinates"
                  :position="position"
                  :key="key"
                />
              </GmapMap>
            </v-tab-item>

            <v-tab-item key="route-stops">
             <route-stops></route-stops>
            </v-tab-item>

          </v-tabs>
        </div>
      </v-container>
    </v-card>
  </v-container>
</template>

<script>
import RouteStops from './RouteStops'
export default {
  name: 'Route',
  components: {RouteStops},
  data () {
    return {
      active: null
    }
  },
  created () {
    this.$store.dispatch('get_route', this.$route.params.route_id)
  },
  computed: {
    getCoordinates () {
      var stops = []
      this.$singleRoute.stops.map(function (stop) {
        stops.push({lat: stop.stop_station.latitude, lng: stop.stop_station.longitude})
      })
      return stops
    }
  },
  methods: {
    postStop () {

    }
  }
}
</script>

<style scoped>

</style>
