<template>
  <v-container fluid>
    <v-card>
      <v-card-title>
        All Routes
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="search"
          text="Search"
          single-line
          hide-details
        ></v-text-field>
      </v-card-title>
      <v-data-table
        :headers="headers"
        :items="$allRoutes"
        :search="search"
        :disable-initial-sort="false"
        :rows-per-page-items="[10, 25, 50, 100, {'text': '$vuetify.dataIterator.rowsPerPageAll','value': -1}]"
      >
        <template slot="items" slot-scope="props">
          <td class="">{{ props.item.route_code }}</td>
          <td class="">{{ props.item.name }}</td>
          <td class="">{{ props.item.stops.length }}</td>
          <td class="">{{ $formatDate(props.item) }}</td>
          <td class="">
            <v-btn color="secondary" small @click="$openRoute(props.item.id)">View</v-btn>
          </td>
        </template>
        <v-alert slot="no-results" :value="true" color="error" icon="warning">
          Your search for "{{ search }}" found no results.
        </v-alert>
      </v-data-table>
    </v-card>
  </v-container>
</template>

<script>
export default {
  name: 'Routes',
  data () {
    return {
      search: '',
      headers: [
        {
          text: 'Route Code',
          value: 'route_code'
        },
        {
          text: 'Name',
          value: 'name'
        },
        {
          text: 'Stops'
        },
        {
          text: 'Created On',
          value: 'created_at'
        },
        {
          text: 'Action'
        }
      ]
    }
  },
  created () {
    this.$store.dispatch('get_all_routes')
  }
}
</script>

<style scoped>

</style>
