<template>
  <v-layout row wrap>
    <v-flex lg4 md4 sm12 xs12>
      <v-card flat>
        <v-container>
          <v-form @submit.prevent="postStop()">
            <v-layout row wrap>
              <v-flex lg12 md12 sm12 xs12>
                <v-container>
                  <v-text-field
                    v-model="stop_station.number_stop"
                    :rules="textRules"
                    label="Stop Number"
                    required
                    max-length="30"
                  ></v-text-field>
                </v-container>
              </v-flex>
              <v-flex lg12 md12 sm12 xs12>
                <v-container>
                  <v-select
                    v-model="stop_station.stop_station"
                    label="Stop Station"
                    required
                    :items="$allStations"
                    item-text="name"
                    item-value="id"
                  ></v-select>
                </v-container>
              </v-flex>
              <v-flex lg12 md12 sm12 xs12>
                <v-container>
                  <v-text-field
                    v-model="stop_station.price"
                    label="Price (from departure station)"
                    required
                  ></v-text-field>
                </v-container>
              </v-flex>
            </v-layout>
            <v-btn type="submit">Add Stop</v-btn>
          </v-form>
        </v-container>
      </v-card>
    </v-flex>
    <v-flex lg8 md8 sm12 xs12>
      <v-card flat>
        <v-card-title>
          All Stop Stations
          <v-spacer></v-spacer>
          <v-text-field
            v-model="search"
            append-icon="search"
            text="Search"
            single-line
            hide-details
          ></v-text-field>
        </v-card-title>
        <v-data-table
          :headers="headers"
          :items="$singleRoute.stops"
          :search="search"
          :disable-initial-sort="false"
          :rows-per-page-items="[10, 25, 50, 100, {'text': '$vuetify.dataIterator.rowsPerPageAll','value': -1}]"
        >
          <template slot="items" slot-scope="props">
            <td class="">{{ props.item.number_stop }}</td>
            <td class="">KES {{ props.item.price }}</td>
            <td class="">{{ props.item.stop_station.name }}</td>
            <td class="">
              <v-btn color="info" small v-if="update === false" @click="editRouteStop(props.item)">Edit</v-btn>
              <v-btn color="warning" small v-if="update === true">Cancel Edit</v-btn>
              <v-btn color="error" small v-if="update === false" @click="deleteRouteStop(props.item)">Delete</v-btn>
            </td>
          </template>
          <v-alert slot="no-results" :value="true" color="error" icon="warning">
            Your search for "{{ search }}" found no results.
          </v-alert>
        </v-data-table>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  name: 'RouteStops',
  data: function () {
    return {
      update: false,
      stop_station: {
        route: this.$route.params.route_id,
        number_stop: null,
        stop_station: null
      },
      search: '',
      headers: [
        {
          text: 'Stop Number',
          value: 'number_stop'
        },
        {
          text: 'Price',
          value: 'stop_station.price'
        },
        {
          text: 'Stop Station',
          value: 'stop_station.name'
        },
        {
          text: 'Action'
        }
      ]
    }
  },
  created () {
    this.$store.dispatch('get_all_routes')
    this.$store.dispatch('get_all_stations')
  },
  methods: {
    deleteRouteStop () {

    },
    editRouteStop (routeStop) {

    },
    postStop () {
      this.$store.dispatch('post_stopstation', this.stop_station)
    }
  }
}
</script>

<style scoped>

</style>
