<template>
  <v-container>
    <p class="headline">Booking Process</p>
    <v-layout row wrap>
      <v-flex lg3 md3 sm12 xs12>
        <v-container>
          <v-card>
            <v-container class="text-lg-center text-md-center">
              <v-chip color="error" text-color="white">
                <v-avatar>
                  <v-icon>search</v-icon>
                </v-avatar>
                Search availability
              </v-chip>
            </v-container>
          </v-card>
        </v-container>
      </v-flex>
      <v-flex lg3 md3 sm12 xs12>
        <v-container>
          <v-card>
            <v-container class="text-lg-center text-md-center">
              <v-chip color="warning" text-color="white">
                <v-avatar>
                  <v-icon>done</v-icon>
                </v-avatar>
                Select Schedule
              </v-chip>
            </v-container>
          </v-card>
        </v-container>
      </v-flex>
      <v-flex lg3 md3 sm12 xs12>
        <v-container>
          <v-card>
            <v-container class="text-lg-center text-md-center">
              <v-chip color="success" text-color="white">
                <v-avatar>
                  <v-icon>payment</v-icon>
                </v-avatar>
                Pay
              </v-chip>
            </v-container>
          </v-card>
        </v-container>
      </v-flex>
      <v-flex lg3 md3 sm12 xs12>
        <v-container>
          <v-card>
            <v-container class="text-lg-center text-md-center">
              <v-chip color="info" text-color="white">
                <v-avatar>
                  <v-icon>inbox</v-icon>
                </v-avatar>
                Receive Ticket
              </v-chip>
            </v-container>
          </v-card>
        </v-container>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  name: 'ApplicationStages',
  data () {
    return {
    }
  }
}
</script>

<style scoped>

</style>
