<template>
  <v-carousel light :hide-controls="true" :hide-delimiters="true">
    <v-carousel-item src="/static/osman-rana-575988-unsplash.jpg">
      <v-container fluid>
        <v-layout row wrap>
          <v-flex lg6 md6 sm12 xs12>
            <v-card>
              <v-container>
                <v-form @submit.prevent="findAvailabilty()">
                  <v-layout row wrap>
                    <v-flex lg6 md6 sm12 xs12>
                      <v-container>
                        <v-select
                          v-model="search.departure_station"
                          :items="$allStations"
                          :rules="[v => !!v || 'Item is required']"
                          item-text="name"
                          item-value="id"
                          label="Departure Station"
                          required
                        ></v-select>
                      </v-container>
                    </v-flex>
                    <v-flex lg6 md6 sm12 xs12>
                      <v-container>
                        <v-select
                          v-model="search.destination_station"
                          :items="$allStations"
                          :rules="[v => !!v || 'Item is required']"
                          item-text="name"
                          item-value="id"
                          label="Destination Station"
                          required
                        ></v-select>
                      </v-container>
                    </v-flex>
                    <v-flex>
                      <v-container>
                        <v-dialog
                          ref="dialog"
                          persistent
                          v-model="modal1"
                          lazy
                          full-width
                          width="290px"
                          :return-value.sync="search.departure_date"
                        >
                          <v-text-field
                            slot="activator"
                            label="Check-in"
                            v-model="search.departure_date"
                            readonly
                          ></v-text-field>
                          <v-date-picker
                            v-model="search.departure_date"
                            scrollable
                            :min="minDate"
                          >
                            <v-spacer></v-spacer>
                            <v-btn flat color="primary" @click="modal1 = false">Cancel</v-btn>
                            <v-btn flat color="primary" @click="$refs.dialog.save(search.departure_date)">OK</v-btn>
                          </v-date-picker>
                        </v-dialog>
                      </v-container>
                    </v-flex>
                  </v-layout>
                  <v-container>
                    <v-btn type="submit">
                      Find Ticket
                    </v-btn>
                  </v-container>
                </v-form>
              </v-container>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-carousel-item>
  </v-carousel>
</template>

<script>
export default {
  name: 'Slider',
  data () {
    return {
      minDate: this.$moment().format('YYYY-MM-DD'),
      modal1: false,
      search: {
        departure_date: '',
        departure_station: null,
        destination_station: null
      }
    }
  },
  created () {
    this.$store.dispatch('get_all_stations')
  },
  methods: {
    findAvailabilty () {
      this.$store.dispatch('find_availability', this.search)
      // this.$router.push({
      //   name: 'HomeSchedules'
      // })
    }
  }
}
</script>

<style scoped>

</style>
